<%- include("../meta/head") %>
<%- include("../navbar") %>
<div class="jumbotron">
    <h1 class="display-3">Stuff I have to do, I guess</h1>
    <p class="lead">My todo list</p>
    <hr class="my-4">
</div>
<%- include("../meta/tail") %>