<%- include("../meta/head") %>
<%- include("../navbar") %>
<div class="jumbotron">
    <h1 class="display-3">About Me</h1>
    <p class="lead">The narcissistic page</p>
    <hr class="my-4">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="<%= usrimg %>" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Me</h5>
          <p class="card-text">Stuff about me you don't care about</p>
        </div>
    </div>
</div>
<%- include("../meta/tail") %>